<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
      .redbg{
        background-color: red;
      }
      .greenbg{
        background-color: green;
      }
      .bluebg{
        background-color: blue;
      }
      .greybg{
        background-color: grey;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="row greybg">
  <div class="col-2 redbg">Col red</div>
  <div class="col-4 greenbg">Col green</div>
  <div class="col-3 offset-2 bluebg">Col blue</div>
</div>

<button class="btn btn-primary btn-lg">Login</button>
<button class="btn btn-secondary btn-sm">Logout</button>
<button class="btn btn-success">Login</button>
<button class="btn btn-info">Logout</button>
<button class="btn btn-warning">Logout</button>
<button class="btn btn-light">Login</button>
<button class="btn btn-danger">Login</button>
<button class="btn btn-dark">Logout</button>

    <!--<h2>Hola soy [[first_name]] [[last_name]]</h2>
    <h3>y tengo [[age]] años</h3>-->

    <input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" max="99" />
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
           type: String
         }, age: {
           type: Number
         }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
