<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <input placeholder="email" type="email" value="{{email::input}}" />
    <input placeholder="password" type="password" value="{{password::input}}" />
    <button on-click="login">Login</button>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/v1/user/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="manageAJAXError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          }, email: {
           type: String
         }
        };
      }

      login() {
        console.log("El usuario ha pulsado el botón");
        console.log("Voy a enviar la petición");

        var loginData = {
          "email" : this.email,
          "password" : this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petición enviada");

      }

      manageAJAXResponse(data) {
         console.log('Llegó la respuesta')
         console.log(data.detail.response)

         this.isLogged = true;

         window.location = "user/" + data.detail.response.username
       }

      manageAJAXError(){
        console.log("Se ha producido un error");
      }
    /*showData(data){
        console.log("showData")
        console.log(data.detail)
        console.log(data.detail.__data.response)

        this.first_name = data.detail.__data.response.first_name
        this.last_name = data.detail.__data.response.last_name
        this.email = data.detail.__data.response.email
      }*/
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
