<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hola soy [[first_name]] [[last_name]]</h2>
    <h3>y mi email [[email]] </h3>

    <input type="text" value="{{first_name::input}}" />
    <input type="range" min="18" value="{{age::input}}" />
    
    <iron-ajax auto
      id="getUser"
      url="http://localhost:3000/v1/user/v2/{{id}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          first_name: {
            type: String
          }, last_name: {
           type: String
         }, email: {
           type: String
         }
        };
      }

      showData(data){
        console.log("showData")
        console.log(data.detail)
        console.log(data.detail.__data.response)

        this.first_name = data.detail.__data.response.first_name
        this.last_name = data.detail.__data.response.last_name
        this.email = data.detail.__data.response.email
      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
